html, body, #map-canvas {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map-canvas {
  height: 90%;
}

.lookahead {
  background: #ffffff; border-radius: 0px; padding: 0;
  position: absolute; z-index: 1000;
}

.lookahead-element {
  float: none; 
  border-top: 1px solid #6b727c;
  border-bottom: 1px solid #575f6a;
  position: relative;
}

.firstSearchResult {
  background-color: #dddddd;
}

.lookahead-element a {
  display: block;
  text-decoration: none;
  padding: 10px 30px;
}

.searchResults.shown {
  visibility: visible;
}

.searchResults.shown {
  visibility: hidden;
}

.my-loc-button {
  display: inline-block;
}

.left-search-icon {
  position: absolute;
}

.search-box {
  display: inline-block;
}

.search-box i {
  position: absolute;
  padding: 15px 10px;
}

.search-box input {
  padding-left: 30px;
}

.top-panel {
  padding: 1%;
  position: relative;
  height: 9%;
}