<!DOCTYPE html>
<html ng-app="mapApp">
<head>
    <title>Rice Map</title>

    <script src="js/fuse.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

    <script src="js/controllers.js"></script>
    <script src="js/map.js"></script>

    <link href="css/style.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <h1>Welcome to the new and improved Rice Map!</h1>

    <div ng-controller="SearchCtrl">
        <input type="text" ng-model="searchText" />
        <ul>
            <li ng-repeat="result in searchResults">{{result.name}}</li>
        </ul>
    </div>

    <div id="map-canvas"></div>
</body>
</html>