<div id="toolbar" class="panel panel-default">
    <a ng-click="toggleUserLocation()" class="btn btn-default" type="button">
        {{ userLocationOn == true ?  "Hide My Location" : "Show My Location" }}
    </a>
</div>

<div 
  id="search-bar"
  ng-controller="MainCtrl"
  class="input-group input-group-lg overlay"
>
  <input 
    type="text"
    class="form-control"
    ng-model="query"
    typeahead="res as res.attributes.name for res in autocomplete($viewValue)"
    typeahead-on-select="onAutocompleteSelect($item, $model, $label, 'PlaceCtrl')"
    placeholder="What are you looking for?"
  />
  <a 
    href="/#/search?q={{query}}"
    class="input-group-addon"
    analytics-on="click"
    analytics-event="Click Search Button"
    analytics-category="Search"
    >
    <span class="glyphicon glyphicon-search"></span>
  </a>
</div>
<div id="map-canvas"></div>
