<!-- Search Bar -->
<div class="input-group input-group-lg">
  <input 
    type="text"
    class="form-control"
    ng-model="query"
    typeahead="res as res.attributes.name for res in autocomplete($viewValue)"
    typeahead-loading="loadingLocations"
    placeholder="What are you looking for?">
  <a ng-click="search(query)" class="input-group-addon">
    <span class="glyphicon glyphicon-search"></span>
  </a>
</div>

<!-- Search Results -->
<div>
  <pre>Search Results: {{ searchResults | limitTo:5 | json }}</pre>
</div>