<!-- Search Bar -->
<div id="search-bar" class="input-group input-group-lg">
  <input 
    type="text"
    class="form-control"
    ng-model="query"
    typeahead="res as res.attributes.name for res in autocomplete($viewValue)"
    typeahead-on-select="onAutocompleteSelect($item, $model, $label, 'MainCtrl')"
    placeholder="What are you looking for?"
  />
  <a 
    href="/#/search?q={{query}}"
    class="input-group-addon"
    analytics-on="click"
    analytics-event="Click Search Button"
    analytics-category="Search"
    >
    <span class="glyphicon glyphicon-search"></span>
  </a>
</div>

<!-- Main Menu -->
<div id="main-menu">
  <!-- Button goes here -->
  <a href="/#/bus" class="btn btn-primary btn-lg btn-block" type="button">
    View Live Buses 
  </a>
</div>

<!-- Search Results -->
<div class="results-panel">
  <ol class="media-list">
    <li class="media" ng-repeat="result in searchResults">
      <span class="pull-left glyphicon glyphicon-map-marker"></span>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a 
            href="/#/place/{{ result.id }}"
            analytics-on="click"
            analytics-event="Click Search Result"
            analytics-category="Search"
          >
            {{ result.attributes.name }}
          </a>
        </h4>
      </div>
    </li>
  </ol>
</div>
