<div id="toolbar" class="panel panel-default">
  <a 
    ng-click="toggleUserLocation()"
    ladda="userLocationLoading"
    data-style="expand-left"
    class="btn btn-primary">
      {{ userLocationOn == true ?  
          "Hide My Location" : "Show My Location" }}
  </a>
  <a 
    ng-click="toggleBusLocation()"
    ladda="busInfoLoading"
    data-style="expand-right"
    class="btn btn-primary"
    type="button">
      {{ busInfoOn == true ?
          "Hide Bus Info" : "Show Live Buses" }}
  </a>
</div>

<div 
  id="search-bar"
  ng-controller="MainCtrl"
  class="input-group input-group-lg overlay"
>

  <input
    type="text"
    class="form-control"
    ng-model="query"
    typeahead="res as res.attributes.name for res in autocomplete($viewValue)"
    typeahead-on-select="onAutocompleteSelect($item, $model, $label, 'PlaceCtrl')"
    placeholder="What are you looking for?"
  />
  <a 
    href="/#/search?q={{query}}"
    class="input-group-addon"
    analytics-on="click"
    analytics-event="Click Search Button"
    analytics-category="Search"
    >
    <span class="glyphicon glyphicon-search"></span>
  </a>
</div>


<div id="map-canvas"></div>


<div id="info-bar" class="well">
  <span class="pull-left glyphicon glyphicon-map-marker"></span>
  <div class="media-body">
    <h4 class="media-heading">

    <span class="url-link" ng-show="place.attributes.url != undefines">
        <a ng-href="{{ place.attributes.url }}" class="nav nav-pills">{{ place.attributes.name}} <span id="side-note" class="glyphicon glyphicon-hand-left"></span></a>
    </span>

    <span ng-show="place.attributes.url === undefines">
        {{ place.attributes.name }}
    </span>
    </h4>
    <span 
      class="label label-default"
      ng-repeat="type in place.attributes.types"
    >
      {{ type }}
    </span>
  </div>
</div>
